<!DOCTYPE html>
<html lang="en">
  {% include home_head.html %}
  <body>
    {% include fixnavi.html %}

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <div class="blog-post">          
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h3>{{ post.title }}</h3>
            {% if post.subtitle %}
              <h4>{{ post.subtitle }}</h4>
            {% else %}
              <h4>{{ post.excerpt | strip_html | truncatewords: 15 }}</h4>
            {% endif %}
          </a>
          <p class="blog-post-meta">Posted by
            {% if post.author %}
              {{ post.author }}
            {% else %}
              {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }}
          </p>
        </div>

        {% endfor %}
        
          <nav>
            <ul class="pager">              
              <li><a href="{{"/posts" | relative_url }}">更多文章 &rarr;</a></li>                            
            </ul>
          </nav>

        </div><!-- /.blog-main -->        

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>古文</h4>
            <p>北冥有鱼，其名为鲲。鲲之大，不知其几千里也；化而为鸟，其名为鹏。鹏之背，不知其几千里也；怒而飞，其翼若垂天之云。是鸟也，海运则将徙于南冥。南冥者，天池也。《齐谐》者，志怪者也。《谐》之言曰：“鹏之徙于南冥也，水击三千里，抟扶摇而上者九万里，去以六月息者也。”野马也，尘埃也，生物之以息相吹也。天之苍苍，其正色邪？其远而无所至极邪？其视下也，亦若是则已矣。</p>            
          </div>

          <div class="sidebar-module">
            <h4>分类</h4>
            <ol class="list-unstyled">
              {% for category in site.categories %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category | first }} ( {{ category | last | size }} )
                <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                  {% for post in category.last %} 
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}                
                  </ul>
              </li>
              {% endfor %}              
            </ol>
          </div>

          <div class="sidebar-module">
            <h4>其他链接</h4>
            <ol class="list-unstyled">
              <li><a href="/feed.xml">订阅</a></li>
              <li><a href="/webpages/wechat.html">微信</a></li>
              <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/759949128/">LinkIn</a></li>              
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
    </div><!-- /.container -->

    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src=href="{{"/assets/vendor/home/assets/js/vendor/jquery.min.js" | relative_url }}"></script>')</script> -->
    <script src="{{"/assets/vendor/home/dist/js/bootstrap.min.js" | relative_url }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{"/assets/vendor/home/assets/js/ie10-viewport-bug-workaround.js" | relative_url }}"></script>
  </body>
</html>
